In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import mrjob as mr

### Homework 5

Copy this notebook. Rename it as: YOURNAME-HW4-mapreduce-XX

with your name replacing YOURNAME and the xx replaced with the date you submit or copy this HW.

Upload your completed jupyter notebook to elearning site as your homework submission. Do not put this notebook on your github.

Do all the homeworks problems below:
As noted doing the homework gets a 3 out of 5. Extension of homework to to implement an TD-IDF algorithm  (see below)

Use the data/bible+shakes.nonpunc.txt file as the source of you analysis in this homework

##Homework 5.1
 A bigram is the combination of words.  Find the 10 most common bigrams from the text.  Order counts in the bigram combination for example "in the" is not the same bigram as "the in"

In [2]:
%run sorted_bigrams.py data/bible+shakes.nopunc.txt

#References
#https://stackoverflow.com/questions/45183393/use-mrjob-to-count-bigram-accur-type-error
#https://github.com/liuandy/CS123/tree/master/CS123-Labs/Lab5

house of   998

the earth   995

also and   99

an hour   99

before you   99

d for   99

d my   99

death and   99

i mean   99

in every   99

## Homework 5.2
Now do the same analysis but make the word order not count "in the" == "the in".  Find the 10 most common ordered bigrams from the alice text.

## Homework 5.3
A trigram are three word combintation.  Find the 10 most common ordered trigrams from the alice text.  Make it so that the order of the words do not count in the trigram combination for example "in the air" is the same trigram as "the air in" or "air in the"...

In [3]:


%run sorted_trigrams.py data/bible+shakes.nopunc.txt

#Reference
#https://weblog.cs.uiowa.edu/cs4980s14/HomeworkOne#CA-c415719ef1992bc99c453ce0fcb8d9a58f63cbd3_16

of the lord   1746
the son of   1473
the children of   1356
the house of   922
out of the   858
saith the lord   854
and i will   805
the lord and   731
and all the   645
children of israel   644

## Homework 5.4
Create graphs to explain the relationship of the frequency of monograms ( words ) to bigrams and trigam frequencies

## For greater than a score of 3 
###  Create a TD - IDF implementation and 
### Analyze the following Sherlock Holmes book from Project Gutenberg text versions of :
The Adventures of Sherlock Holmes-  http://www.gutenberg.org/ebooks/1661.txt.utf-8

A Study in Scarlet - http://www.gutenberg.org/files/244/244-0.txt

The Hound of the Baskervilles - http://www.gutenberg.org/files/2852/2852-0.txt

The Return of Sherlock Holmes - http://www.gutenberg.org/files/108/108-0.txt

The Sign of the Four - http://www.gutenberg.org/ebooks/2097.txt.utf-8

### Display the scores for the top 20 highest frequencty terms and the relationship to the books

In [4]:
#Reference
#https://www.lynda.com/Business-Intelligence-tutorials/Text-mining-Python/475936/529759-4.html


% matplotlib inline

import codecs
import re
import copy
import collections

import numpy as np
import pandas as pd
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import WordPunctTokenizer
from __future__ import division
from nltk.corpus import stopwords

with codecs.open("SherlockHolmesBooks/Doc1.txt", "r", encoding="latin-1") as f:
    Doc_1 = f.read()
with codecs.open("SherlockHolmesBooks/Doc2.txt", "r", encoding="latin-1") as f:
    Doc_2 = f.read()
with codecs.open("SherlockHolmesBooks/Doc3.txt", "r", encoding="latin-1") as f:
    Doc_3 = f.read()
with codecs.open("SherlockHolmesBooks/Doc4.txt", "r", encoding="latin-1") as f:
    Doc_4 = f.read()
with codecs.open("SherlockHolmesBooks/Doc5.txt", "r", encoding="latin-1") as f:
    Doc_5 = f.read()
    
esw = stopwords.words('english')
esw.append("would")

word_pattern = re.compile("^\w+$")

def get_text_counter(text):
    tokens = WordPunctTokenizer().tokenize(PorterStemmer().stem(text))
    tokens = list(map(lambda x: x.lower(), tokens))
    tokens = [token for token in tokens if re.match(word_pattern, token) and token not in esw]
    return collections.Counter(tokens), len(tokens)

def make_df(counter, size):
    abs_freq = np.array([el[1] for el in counter])
    rel_freq = abs_freq / size
    index = [el[0] for el in counter]
    df = pd.DataFrame(data=np.array([rel_freq]).T, index=index, columns=["Frequency"])
    df.index.name = "Most common words"
    return df

In [5]:
d1_counter, d1_size = get_text_counter(Doc_1)
make_df(d1_counter.most_common(20), d1_size)

                   Frequency
Most common words
said                0.009949
holmes              0.009560
upon                0.009560
one                 0.007738
man                 0.006244
could               0.005875
mr                  0.005629
little              0.005507
see                 0.004749
may                 0.004340
well                0.004115
us                  0.003767
think               0.003562
shall               0.003501
room                0.003501
must                0.003501
know                0.003501
come                0.003316
time                0.003091
two                 0.003030

In [6]:
d2_counter, d2_size = get_text_counter(Doc_2)
make_df(d2_counter.most_common(20), d2_size)

                   Frequency
Most common words
said                0.009373
upon                0.009192
one                 0.007516
man                 0.007018
could               0.004437
holmes              0.004392
gutenberg           0.004256
project             0.003985
little              0.003758
two                 0.003577
time                0.003487
way                 0.003260
come                0.003260
work                0.003079
well                0.003079
came                0.003034
asked               0.003034
face                0.003034
see                 0.002898
drebber             0.002807

In [13]:
d3_counter, d3_size = get_text_counter(Doc_3)
make_df(d3_counter.most_common(20), d3_size)

                   Frequency
Most common words
sir                 0.012311
upon                0.011115
one                 0.008759
said                0.008442
man                 0.007492
could               0.007105
holmes              0.006789
us                  0.006437
moor                0.005734
henry               0.005487
know                0.004186
may                 0.004116
see                 0.004080
watson              0.004010
baskerville         0.004010
well                0.003904
dr                  0.003834
must                0.003412
charles             0.003306
gutenberg           0.003271

In [7]:
d4_counter, d4_size = get_text_counter(Doc_4)
make_df(d4_counter.most_common(20), d4_size)

                   Frequency
Most common words
holmes              0.014264
said                0.009403
one                 0.008555
upon                0.007782
mr                  0.007763
man                 0.007556
could               0.006350
well                0.005710
us                  0.005314
see                 0.004522
room                0.004315
watson              0.003976
must                0.003712
come                0.003543
sir                 0.003543
may                 0.003411
two                 0.003203
time                0.003185
know                0.003128
door                0.003090

In [9]:
d5_counter, d5_size = get_text_counter(Doc_5)
make_df(d5_counter.most_common(20), d5_size)

                   Frequency
Most common words
said                0.010273
upon                0.008943
one                 0.008118
man                 0.006696
could               0.006604
us                  0.006421
holmes              0.006192
see                 0.004861
gutenberg           0.004265
well                0.004219
small               0.004036
little              0.004036
project             0.003990
work                0.003944
may                 0.003898
however             0.003715
night               0.003577
must                0.003577
sholto              0.003486
shall               0.003440